.react-calendar {
  width: 320px;
  max-width: 100%;
  background: white;
  border: 1px solid #eeeeee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.125em;
  font-size: 12px;
  border-radius: 10px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation__label {
  font-size: 14px;
  font-weight: 500;
}

.react-calendar__navigation__arrow {
  font-size: 18px;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none !important;
  color: gray;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  text-decoration: underline;
}

.react-calendar__tile--now:hover {
  color: black !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: black;
  border-radius: 50%;
  color: #fafafa;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: black !important;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile--active:active {
  background: black !important;
  color: white;
  border-radius: 50%;
}

.react-calendar__tile {
  width: 44px;
  height: 44px;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar__tile:disabled {
  background-color: white;
  text-decoration: line-through;
}

.react-calendar__tile:disabled:hover {
  border: none;
  background-color: transparent;
  color: black;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-calendar__tile:hover {
  border-radius: 50%;
  border: 1px solid gray;
  color: black !important;
  background: white !important;
}

.react-calendar__navigation__label {
  touch-action: none;
  pointer-events: none;
  font-weight: 500;
}

.custom_overlay {
  @apply bg-white rounded-full px-2 py-1 text-xs font-semibold border border-gray-300 shadow hover:shadow-lg hover:font-bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
